<% provide(:title, 'Thread') %>
<div id="main">
<h1>Thread Lists</h1>
<div>
    <h2 class="style1">Direct Thread</h1>
    <% @t_direct_messages.each do |t_direct_message| %>

    <h2 class="style1"> <%= t_direct_message['name'] %> </h2>

    <p class="style21">1</p>

    <p class="style22"><%= t_direct_message['name']%></p>

    <p class="style23"><%= (t_direct_message['created_at'].to_time + 9.hours).strftime("%F/%I:%M%p")%></p>
           
    <p class="style24"></p> 
            
    <% if @t_direct_star_msgids.include? t_direct_message['id']%>
             <%= link_to "", "", class:'fas fa-star' %></li>
    <% else %>
             <%= link_to "",  "", class:'far fa-star' %></li>
    <% end %> 

    <p class="style3" style="word-wrap: break-word; width: 550px"> -->  <%= t_direct_message['directmsg']%></p>

        
        <h2 class="style1">Reply</h2>

        <% @count = 0 %>
        <% @t_direct_threads.each do |t_direct_thread| %>

            <% if t_direct_message['id']== t_direct_thread['t_direct_message_id'] %>

            <p class="style21"><%= @count += 1 %></p>

            <p class="style22"><%= t_direct_thread['name']%></p>

            <p class="style23"><%= (t_direct_thread['created_at'].to_time + 9.hours).strftime("%F/%I:%M%p")%></p>

            <p class="style24"></p> 
            
            <% if @t_direct_star_thread_msgids.include? t_direct_thread['id'] %>
                     <%= link_to "", "", class:'fas fa-star' %></li>
            <% else %>
                     <%= link_to "",  "", class:'far fa-star' %></li>
            <% end %> 

            <p class="style3" style="word-wrap: break-word; width: 550px"> -->  <%= t_direct_thread['directthreadmsg']%></p>
            <% end %>
        <% end %>
        <hr>
    <% end %>
</div>


<div>
    <h2 class="style1">Group Thread</h1>
    <% @t_group_messages.each do |t_group_message| %>

    

    <p class="style21">1</p>

    <p class="style22"><%= t_group_message['name']%></p>
    
    <p class="style23"><%= (t_group_message['created_at'].to_time + 9.hours).strftime("%F/%I:%M%p")%></p>
            
    <p class="style24"></p>
            
    <% if @t_group_star_msgids.include? t_group_message['id'] %>
             <%= link_to "", "", class:'fas fa-star' %></li>
    <% else %>
             <%= link_to "",  "", class:'far fa-star' %></li>
    <% end %> 

    <p class="style3" style="word-wrap: break-word; width: 550px"> -->  <%= t_group_message['groupmsg']%></p>

        
        <h2 class="style1">Reply</h2>

        <% @count = 0 %>
        <% @t_group_threads.each do |t_group_thread| %>

            <% if t_group_message['id'] == t_group_thread['t_group_message_id'] %>

            <p class="style21"><%= @count += 1 %></p>

            <p class="style22"><%= t_group_thread['name']%></p>

            <p class="style23"><%= (t_group_thread['created_at'].to_time + 9.hours).strftime("%F/%I:%M%p")%></p>

            <p class="style24"></p>
            
            <% if @t_group_star_thread_msgids.include? t_group_thread['id'] %>
                     <%= link_to "", "", class:'fas fa-star' %></li>
            <% else %>
                     <%= link_to "",  "", class:'far fa-star' %></li>
            <% end %> 

            <p class="style3" style="word-wrap: break-word; width: 550px"> -->  <%= t_group_thread['groupthreadmsg']%></p>
            <% end %>
        <% end %>
        <hr>
    <% end %>
</div>
            

<div>
    <%= render 'leftpanel/leftpanel' %>
</div>
  