<h2 class="style1" style="text-align:center">チャンネル作成</h2>
  <br><br>
  <div class="container para">
    <div class="col-md-6 col-md-offset-4">
      <%=form_for(:session, url: channelupdate_url) do |f| %>
        <%= f.hidden_field :id %>
        <div class="col-md-1">
        <% if @m_channel['channel_status']==false%>
        <%= f.radio_button :channel_status,'false',:checked=>true  %> 
        </div>
        <div class="col-md-3">
        <%= f.label :プライベート %>
        </div>
        <div class="col-md-1">
        <%= f.radio_button :channel_status,'true'%>
        </div>
        <div class="col-md-3">
        <%= f.label :パブリック %>
        </div>
        <%else%>
        <%= f.radio_button :channel_status,'false' %> 
        </div>
        <div class="col-md-3">
        <%= f.label :プライベート %>
        </div>
        <div class="col-md-1">
        <%= f.radio_button :channel_status,'true',:checked=>true%>
        </div>
        <div class="col-md-3">
        <%= f.label :パブリック %>
        </div>

        <%end%>
        <br><br>

        <%= f.label :ChannelName%>
        <%= f.text_field:channel_name, class:'form-control', placeholder: "#@m_channel['channel_name']" %> 
        <%= f.submit "Update", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
  <div>
    <%= render 'leftpanel/leftpanel' %>
  </div>