<div class="txtmsg">	
<% @count = 0 %>
    <div id="grouplist">	
        <div class="title">		
            <h2 class="style1">
            <%= @s_channel['channel_name']%> 
            <sapn style="margin-left: 20px"> 
            <i class="material-icons">&#xe7fc;</i> <%= link_to @length, channeluser_path%>
            </span>
            
            <% if @m_channelsids.include?session[:s_channel_id].to_i%>
            <% if session[:current_user_id] == @created_admin[0]['userid'] %>
            <span>
                <button type="button" class="btn btn-default btn-sm" style='font-size:15px; background-color: #F4F4F4'>
                <%= link_to "Edit", channeledit_path(id: @s_channel['id'].to_i), class: 'fa fa-edit',  style: 'font-size:15px; color: black;'%> 
                </button>
                
                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" style='font-size:15px; background-color: #F4F4F4'>
                <span class="glyphicon glyphicon-trash" style="font-weight:bold">Delete </span>
                </button>
            </span>
            <% else %>
            <button type="button" class="btn btn-default btn-sm" style='font-size:10px; background-color: #F4F4F4; margin-left: 50px'>
            <%= link_to "Leave Channel", channeluserleave_path(id: session[:current_user_id]), class: "fa fa-sign-out" %>
            </button>
            <% end%>
            <% end%>
            </h2>
        </div>
        <div class="style1" style="padding-top: 80px">
                <%= link_to "Load Mode",  refresh_group_url , class:'glyphicon glyphicon-refresh', style: 'word-spacing: -0.63em;'%>
        </div>
        <% @t_group_message_dates.each do |t_group_message_date| %>
            <% if @t_group_message_datesize.include?t_group_message_date['created_date'] %>
                <h2 class="style1"><%= t_group_message_date['created_date'] %></h2>
                <% @t_group_messages.each do |t_group_message| %>
                    <% if t_group_message_date['created_date'].to_s == t_group_message['created_at'].to_time.strftime("%F").to_s %>
                        <p class="style21"><%= @count += 1 %></p>

                        <p class="style22"><%= t_group_message['name']%></p>

                        <p class="style23"><%= (t_group_message['created_at'].to_time + 9.hours).strftime("%F/%I:%M%p")%></p>

                        <p class="style24"><%= link_to t_group_message['count'],  t_group_message_path(id: t_group_message['id']), class: 'fab fa-facebook-messenger'%></p>

                        <% if @t_group_star_msgids.include? t_group_message['id'] %>
                        <%= link_to "",  groupunstar_path(:id => t_group_message['id']), class:'fas fa-star' %>
                        <% else %>
                        <%= link_to "",  groupstar_path(:id => t_group_message['id']), class:'far fa-star'%>
                        <% end %>
                        <%= link_to "",  delete_groupmsg_path(:id => t_group_message['id']), class:'glyphicon glyphicon-trash'%>

                        <p class="style3" style="word-wrap: break-word; width: 550px"> -->  <%= t_group_message['groupmsg']%></p>
                        <hr>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
   </div>
</div>

 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: #1C2331">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="color: white">Channel Delete</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure to delete channel?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info btn-sm" style='font-size:15px;'>
                <%= link_to "Delete", delete_channel_path(id: @s_channel['id'].to_i), class: 'glyphicon glyphicon-trash',  style: 'font-size:15px; color: white;'%>
            </button>
        </div>
      </div>
      
    </div>
  </div>

<script>
    window.scrollTo(0,document.body.scrollHeight);
</script>





