<% provide(:title, 'All Unread') %>
<div id="main">

<h1>All Unread Lists</h1>

<div>
    <h2 class="style1">Direct Unread Messages</h2>

    <% @count = 0 %>
    <% @t_direct_messages.each do |t_direct_message| %>

    <p class="style21"><%= @count += 1 %></p>

    <p class="style22"><%= t_direct_message['name']%></p>
    
    <p class="style23"><%= (t_direct_message['created_at'].to_time + 9.hours).strftime("%F/%I:%M%p")%></p>
            
    <p class="style3"> -->  <%= t_direct_message['directmsg']%></p>
    <hr>
    <% end %>

</div>

<div>
        <h2 class="style1">Direct Unread Threads</h2>

        <% @count = 0 %>
        <% @t_direct_threads.each do |t_direct_thread| %>

            <p class="style21"><%= @count += 1 %></p>

            <p class="style22"><%= t_direct_thread['name']%></p>

            <p class="style23"><%= (t_direct_thread['created_at'].to_time + 9.hours).strftime("%F/%I:%M%p")%></p>

            <p class="style3"> -->  <%= t_direct_thread['directthreadmsg']%></p>
        <hr>
    <% end %>

</div>

<div>
    <h2 class="style1">Group Unread Messages</h2>

    <% @count = 0 %>

    <% @t_group_messages.each do |t_group_message| %>
            
    <% @t_user_channelids.each do |id| %>
    
    <% if id.to_i == t_group_message['id'] %>

    <h4 class="style2"><%= t_group_message['channel_name']%></h4>

    <p class="style21"><%= @count += 1 %></p>

    <p class="style22"><%= t_group_message['name']%></p>

    <p class="style23"><%= (t_group_message['created_at'].to_time + 9.hours).strftime("%F/%I:%M%p")%></p>

    <p class="style3"> -->  <%= t_group_message['groupmsg']%></p>
    

    <p class="style24"></p> 
            
    <% end %>
    <% end %>
    <% end %>
</div>

</div>
    

<div>
    <%= render 'leftpanel/leftpanel' %>
</div>