    <div id="mySidenav" class="sidenav">
        <nav class="navbar justify-content-between dropright">
            <div class="btn-group dropright list-group nav">
                <span class="cc list-group-item list-group-item-action "><%= @workspace_name %></span>
                <span class="cc list-group-item list-group-item-action "><%= @m_user %></span>
            </div>
        </nav>

        <div class="wrapper">
            <div class="row">
                <div class="col-sm-3">
                    <nav id="sidebar">
                        <ul class="list-unstyled components">
                            <ul class="countnumber">
                                <div id="allcount">
                                    <li class="countnumberone">
                                        <%= link_to "全未読", allunread_url, class: 'fa fa-align-justify' %>
                                    </li>
                                    <% if @all_unread_count == 0 %>

                                    <% else%>

                                    <li class="countnumbertwo">
                                        <%= @all_unread_count %>
                                    </li>
                                    <%end%>
                                </div>
                            </ul>
                            <li class="form-inline my-0 my-lg-0">
                            <%= link_to "スレッド" , thread_url, class: 'fa fa-comments' %>
                        </li>
                        <li class="form-inline my-0 my-lg-0">
                            <%= link_to "スター" , starlists_url,class: 'fa fa-star' %>
                        </li>
                        <li class="form-inline my-0 my-lg-0">
                            <%= link_to "アクティピテイ" , mentionlists_url, class: 'fas fa-at'%>
                        </li>
                            <% if @current_user_admin == true %>
                                <li class="form-inline my-0 my-lg-0">
                                    
                                    <%= link_to "ユーザ管理" , usermanage_url, class: 'fa fa-edit'%>
                                </li>
                            <% end %>
                            
                            <li class="form-inline my-0 my-lg-0">
                            <%= link_to "メンバーを招待する" , memberinvite_url, class: 'fa fa-plus-circle'%>
                            
                            </li>
                            <li>
                            <%= link_to "チャンネル" , channelcreate_url,class: 'fa fa-plus-circle' %>
                                <div id="channellists">
                                    <% @m_channels.each do |m_channel| %>
                                        <% if session[:s_channel_id] != m_channel['id'].to_s %>
                                            <ul class="countnumber">
                                        <% else %>
                                            <ul style="background-color: #2E86C1" class="countnumber">
                                        <% end %>
                                                <li class="countnumberone">
                                                <% if m_channel['channel_status'] == true%>
                                                <%= link_to m_channel["channel_name"], m_channel_path(id: m_channel["id"]), class: 'fas fa-hashtag' %>
                                                <% else%>
                                                <%= link_to m_channel["channel_name"], m_channel_path(id: m_channel["id"]) , class: 'fa fa-lock'%>
                                                <% end%>
                                                </li>
                                                <% if m_channel['message_count'] > 0 %>
                                                    <li class="countnumbertwo">
                                                        <%= m_channel['message_count'] %>
                                                    </li>
                                                <% end %>
                                            </ul>
                                    <% end %>
                                </div>

                                <div id="channelpubliclists">
                                    <% @m_p_channels.each do |m_channel| %>
                                        <% unless @m_channelsids.include? m_channel['id'] %>    
                                            <% if session[:s_channel_id] != m_channel['id'].to_s %>
                                                <ul class="countnumber">
                                            <% else %>
                                                <ul style="background-color: #2E86C1" class="countnumber">
                                            <% end %>                    
                                                    <li class="countnumberone">
                                                    <% if m_channel['channel_status'] == true%>
                                                    <%= link_to m_channel["channel_name"], m_channel_path(id: m_channel["id"]),  class: 'fas fa-hashtag' %>
                                                <% else %>
                                                    <%= link_to mm_channel["channel_name"], m_channel_path(id: m_channel["id"]) , class: 'fa fa-lock'%>
                                                <% end %>
                                                    </li>
                                            </ul>
                                        <% end %>
                                    <% end %>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="channel">ダイレクトメッセージ</a>                            
                                    <div id="userlists">
                                       
                                            
                                            <div class="countnumberone">
                                                <%= link_to @m_user +"(自分)", "#", class: 'glyphicon glyphicon-user', style: 'word-spacing: -0.63em;color:#7AB900'%>
                                            </div>
                                           
                                            
                                            <% @count = 0 %>
                                            <% @m_users.each do |m_user| %>
                                                <% if session[:current_user_id] != m_user['id'] %>
                                                    <% if session[:current_user_id] != m_user['id'].to_s %>
                                                        <ul class="countnumber">
                                                    <% else %>
                                                        <ul style="background-color: #2E86C1" class="countnumber">
                                                    <% end %>
                                                            <li class="countnumberone">
                                                                <% if m_user['active_status'] == true %>
                                                                <%= link_to m_user['name'],  m_user_path(id: m_user['id']), class: 'glyphicon glyphicon-user', style: 'word-spacing: -0.63em; color: yellow;'%> 
                                                                <% else %>
                                                                <%= link_to m_user['name'],  m_user_path(id: m_user['id']), class: 'glyphicon glyphicon-user', style: 'word-spacing: -0.63em;'%> 
                                                                <% end %>
                                                            
                                                            </li>
                                                            <% if @direct_msgcounts[@count] != 0 %> 
                                                                <li class="countnumbertwo">
                                                                    <%= @direct_msgcounts[@count] %>
                                                                </li>
                                                            <% end %>
                                                        </ul>
                                                <% end %>
                                                <% @count += 1 %>
                                            <% end %>
                                       
                                    </div>
                            </li>                       
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>