<div class="txtmsg">  
  <% @count = 0 %>
  <div id="directlist">
    <div class="title">      
      <h2 class="style1"><%= @s_user['name'] %></h2>
    </div>
    
    <div class="style1" style="padding-top: 80px">
      <%= link_to "Load More", refresh_direct_url, class: 'glyphicon glyphicon-refresh', style: 'word-spacing: -0.63em;' %>
    </div>

    <% @t_direct_message_dates.each do |t_direct_date| %>
      <h2 class="style1"><%= t_direct_date['created_date'] %></h2>
      <% 
      direct_messages_for_date = @t_direct_messages.select { |msg| msg['created_at'].to_date == Date.parse(t_direct_date['created_date']) } 
      # Check if direct_messages_for_date is correctly populated
      %>
      <% direct_messages_for_date.each do |t_direct_message| %>
        <p class="style21"><%= @count += 1 %></p>
        <p class="style22"><%= t_direct_message['name'] %></p> 

        <p class="style23"><%= (t_direct_message['created_at'].to_time + 9.hours).strftime("%F/%I:%M%p")%></p>

        <p class="style24"><%= link_to t_direct_message['count'], t_direct_message_path(id: t_direct_message['id']), class: 'fab fa-facebook-messenger' %></p>

        <% if @t_direct_star_msgids.include?(t_direct_message['id']) %>
          <%= link_to "", unstar_path(id: t_direct_message['id']), class: 'fas fa-star' %>
        <% else %>
          <%= link_to "", star_path(id: t_direct_message['id']), class: 'far fa-star' %>
        <% end %>

        <%= link_to "", delete_directmsg_path(id: t_direct_message['id']), class: 'glyphicon glyphicon-trash' %>

        <p class="style3" style="word-wrap: break-word; width: 550px"> --> <%= t_direct_message['directmsg'] %></p>
        <hr>
        
      <% end %>
    <% end %>
  </div>
</div>

<script>
  window.scrollTo(0, document.body.scrollHeight);
  
</script>
